Copyright (c) Microsoft Corporation. All rights reserved.  
Licensed under the MIT License.

# Want to *actually* do machine learning? 
## Part 1: Ingest and wrangle data

*Made for Microsoft Build 2019*

This is the first in a series that walks through how Azure Machine Learning service can speed up your machine learning modelling workflow so you can focus on the interesting tasks that matter. 

**Goal:**
In this notebook, we'll prepare our data for regression modeling. We'll use a small sample of NYC yellow taxicab data which we've got in Azure Blob Storage. Our end goal is to wrangle the data so we can use it to predict the cost of a taxi trip. 

In particular, we'll showcase:
- **Azure ML Datasets, from the Azure ML Python SDK**, which allow you to
    - connect to Azure storage accounts where your data is, maintain data lineages, take snapshots of data for auditability and reproducibility, and version the set of transformations applied to wrangle the data.
- (optionally) **Azure ML Data Prep SDK**, a companion toolkit to the Python SDK which allows you to
    - wrangle data locally and at scale using the same code artifact, and prepare your data before you have an Azure subscription.

### Pre-requisites

In order to run this notebook, you need:
- A Python 3.6 notebook server with the following installed:
    - Azure Machine Learning SDK for Python
    - (optionally) Azure Machine Learning Data Prep SDK for Python
- An Azure subscription, an Azure ML workspace, and sample data uploaded to an Azure Blob Storage container
    - If not, go to our [configuration](0_configuration.ipynb) notebook to get them set up.

In [7]:
from azureml.core import Workspace, Dataset
import azureml.dataprep as dprep
import numpy as np

In [10]:
# Retrieve an existing workspace
#ws = Workspace.from_config()

subscription_id = "db74d2db-c6a4-4287-b984-fd05ac72cf42"
resource_group = "omg_aml_testing"
workspace_name = "actuallydemosung"
workspace_region = "West Europe"

from azureml.core import Workspace

try:
    ws = Workspace(
        subscription_id = subscription_id, 
        resource_group = resource_group, 
        workspace_name = workspace_name
    )
    print("Workspace configuration succeeded. Skip the workspace creation steps below. subscription_id = "+subscription_id)
except:
    print("Workspace not accessible. Change your parameters or create a new workspace below")

Workspace configuration succeeded. Skip the workspace creation steps below. subscription_id = db74d2db-c6a4-4287-b984-fd05ac72cf42

### Outline
1. [Ingest data](#Ingest-data). Reading in data and parsing file formats can be tricky and frustrating when you encounter issues since it's the first thing you need to do when you start building ML models. We'll show you how Azure ML unifies and simplifies data ingestion across all kinds of file formats.
1. [Sample data](#Sample-data). We're often working with very large data sets, which can be unwieldy when trying to quickly iterate and wrangle. We'll show how easy it is to create a sample of your Dataset so you can experiment on that before applying to your full Dataset.
1. [Cleanse data](#Cleanse-data). You can use your favorite open-source library to wrangle your data, or you can try out an SDK we built to help make wrangling easier regardless of your data's size.
1. [Apply changes to full data](#Apply-changes-to-full-data). Now that you've created your data preparation script on your sampled Dataset, we'll apply that script to our full Dataset to make it ML-ready.

### Ingest data

Datasets makes it incredibly easy to use data in Azure storage for machine learning. It handles some of the most painful parts of getting data: figuring out how to ingest your data, managing credentials, and understanding file formats.

Our connection information to our Azure storage account is stored in our workpace's datastore, so we'll ask Datasets to use that information to access our data. Oftentimes, data comes stored across different files that we need to coalesce into one. In our case, we see that we have each month's data stored in a separate csv. We'll use Datasets to easily append them together with a simple globbing command:

In [22]:
datastore = ws.get_default_datastore()
dataset = Dataset.auto_read_files(path=datastore.path('yellow_tripdata_2018-01.csv'))

dataset.head(5)

ExecutionError: Failed to read files and get data source properties suggestions

We'll also register our Dataset to our workspace, which enables any collaborator in that workspace to access our common data artifacts. This makes it easier to work within teams by sharing the right data with the right permissions:

In [4]:
dataset = dataset.register(
    workspace=ws,
    name='nyc_taxi_full',
    description='NYC yellow taxicab data during the first half of 2018.',
    tags={'year':'2018', 'taxi_type':'yellow', 'status':'raw'},
    exist_ok=True,
    update_if_exist=True
)

In [5]:
# run on another compute to make it async
dataset.generate_profile(compute_target='jenren-profiler')

### Sample data

But as we know, data rarely comes cleaned and ML-ready! Immediately, we notice that the first row contains all null values so we likely want to filter that entry out. There might also be other data quality issues that we might need to address. Rather than experimenting on our full Dataset which can take much longer, we'll start with a sampled Dataset, figure out how we need to wrangle it, then apply those transformations to our full Dataset.

In [6]:
dataset_sampled = dataset.sample(
    sample_strategy='simple_random', 
    arguments={'probability':0.25, 'seed': 123})

dataset_sampled.head(5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount
0,1,2018-01-01 00:20:22,2018-01-01 00:52:51,1,10.20,1,False,140,257,2,33.5,0.5,0.5,0.00,0.0,0.3,34.80
1,1,2018-01-01 00:17:04,2018-01-01 00:22:24,1,0.70,1,False,170,170,2,5.5,0.5,0.5,0.00,0.0,0.3,6.80
2,1,2018-01-01 00:24:42,2018-01-01 00:31:56,2,0.70,1,False,170,162,2,6.0,0.5,0.5,0.00,0.0,0.3,7.30
3,2,2018-01-01 00:31:23,2018-01-01 00:45:38,1,2.32,1,False,186,231,1,11.0,0.5,0.5,3.08,0.0,0.3,15.38
4,2,2018-01-01 00:47:03,2018-01-01 01:26:24,1,9.49,1,False,231,116,1,35.0,0.5,0.5,9.08,0.0,0.3,45.38

### Cleanse data

Because we care about openness and interoperability, we made it possible for you to use the open-source libraries you already know and love. From here, you can convert your Dataset to a pandas or Spark dataframe to wrangle your data:

In [7]:
df_sampled = dataset_sampled.to_pandas_dataframe()

*Bonus:* We created a data preparation SDK to help you wrangle your data. With it, you can focus on writing one data wrangling script that can seamlessly transition between local, scale-up, and scale-out runtimes without needing to do costly rewrites.

> You absolutely don't need to use it if you already have tools that you know and love; we're showing it here in case you'd like to try it out and realize you'd love a solution that doesn't require you to rewrite scripts when you need to scale to larger data sets. You can imagine substituting our wrangling script using the [Azure ML Data Prep SDK](https://docs.microsoft.com/en-us/python/api/overview/azure/dataprep/intro?view=azure-dataprep-py) with your own pandas, dplyr, or Spark code instead.

In [8]:
dflow_sampled = dprep.read_pandas_dataframe(df_sampled, temp_folder='temp')

Now, we want to filter out rows that seem to be completely missing, like the first row with `NA` strings in all columns. We'll then keep only the useful columns for modeling:

In [9]:
all_columns = dprep.ColumnSelector(term=".*", use_regex=True)
drop_if_all_null = [all_columns, dprep.ColumnRelationship(dprep.ColumnRelationship.ALL)]
useful_columns = [
    "fare_amount", "distance", "pickup_region", "dropoff_region",
    "passenger_count", "pickup_datetime", "vendor", "payment_type"
]

dflow_sampled = (dflow_sampled
    .replace_na(columns=all_columns)
    .drop_nulls(*drop_if_all_null)
    .rename_columns(column_pairs={
        "VendorID": "vendor",
        "tpep_pickup_datetime": "pickup_datetime",
        "trip_distance": "distance",
        "PULocationID": "pickup_region",
        "DOLocationID": "dropoff_region"
    })
    .keep_columns(columns=useful_columns))

dflow_sampled.head(5)

,vendor,pickup_datetime,passenger_count,distance,pickup_region,dropoff_region,payment_type,fare_amount
0,1,2018-01-08 21:13:45,4,2.90,137,142,1,13.5
1,2,2018-01-08 21:06:43,1,2.05,164,239,1,9.0
2,2,2018-01-08 21:32:34,1,9.03,138,238,1,27.0
3,2,2018-01-08 21:56:39,1,1.16,238,151,2,7.0
4,1,2018-01-08 21:52:00,1,0.80,68,246,2,5.0

We also notice that we have a lot of information in our `pickup_datetime` column that could be split out into multiple features, which might improve our model's performance. We'll use an intelligent transformation that attempts to split our column using example input-outputs to learn:

In [10]:
dflow_sampled = (dflow_sampled
    .split_column_by_example(
        source_column="pickup_datetime",
        example=("2009-01-04 02:52:00", ["2009-01-04", "02:52:00"])
    )
    .rename_columns(column_pairs={
        "pickup_datetime_1": "pickup_date",
        "pickup_datetime_2": "pickup_time"
    }))

dflow_sampled.head(5)

,vendor,pickup_datetime,pickup_date,pickup_time,passenger_count,distance,pickup_region,dropoff_region,payment_type,fare_amount
0,1,2018-01-08 21:13:45,2018-01-08,21:13:45,4,2.90,137,142,1,13.5
1,2,2018-01-08 21:06:43,2018-01-08,21:06:43,1,2.05,164,239,1,9.0
2,2,2018-01-08 21:32:34,2018-01-08,21:32:34,1,9.03,138,238,1,27.0
3,2,2018-01-08 21:56:39,2018-01-08,21:56:39,1,1.16,238,151,2,7.0
4,1,2018-01-08 21:52:00,2018-01-08,21:52:00,1,0.80,68,246,2,5.0

We can also extract more information as features to feed our ML model. For example, let's use another intelligent transform which creates a column by interpreting what day of the week a date is. We'll also continue splitting our date and time columns to get additional features:

In [11]:
dflow_sampled = (dflow_sampled
    # Add day of the week
    .derive_column_by_example(
        source_columns="pickup_date",
        new_column_name="pickup_weekday",
        example_data=[("2009-01-04", "Sunday"), ("2013-08-22", "Thursday")]
    )
    # Add year, month, and day of the month
    .split_column_by_example(
        source_column="pickup_date",
        example=("2009-01-04", ["2009", "01", "04"])
    )
    # Add hour, minute, and second
    .split_column_by_example(
        source_column="pickup_time",
        example=("02:52:58", ["02", "52", "58"])
    )
    # Tidy our dataflow
    .drop_columns(columns=[
        "pickup_datetime", "pickup_date", "pickup_time"
    ])
    .rename_columns(column_pairs={
        "pickup_date_1": "pickup_year",
        "pickup_date_2": "pickup_month",
        "pickup_date_3": "pickup_monthday",
        "pickup_time_1": "pickup_hour",
        "pickup_time_2": "pickup_minute",
        "pickup_time_3": "pickup_second"
    }))

dflow_sampled.get_profile()

ColumnProfile:
    column_name: vendor
    type: FieldType.INTEGER

    min: 1.0
    max: 4.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 2.0
          75%: 2.0
          95%: 2.0
          99%: 2.0
        99.9%: 2.0

    mean: 1.5664075244325775
    std: 0.4958128232213052
    variance: 0.24583035567068126
    skewness: -0.263075540497143
    kurtosis: -1.9069577030484934

ColumnProfile:
    column_name: pickup_year
    type: FieldType.STRING

    min: 2001
    max: 2084
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 12


ColumnProfile:
    column_name: pickup_month
    type: FieldType.STRING

    min: 01
    max: 12
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 12


ColumnProfile:
    column_name: pickup_monthday
    type: FieldType.STRING

    min: 01
    max: 31
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 31


ColumnProfile:
    column_name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: pickup_hour
    type: FieldType.STRING

    min: 00
    max: 23
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


ColumnProfile:
    column_name: pickup_minute
    type: FieldType.STRING

    min: 00
    max: 59
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


ColumnProfile:
    column_name: pickup_second
    type: FieldType.STRING

    min: 00
    max: 59
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


ColumnProfile:
    column_name: passenger_count
    type: FieldType.INTEGER

    min: 0.0
    max: 9.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 10


    Quantiles (est.):
         0.1%: 0.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 2.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 1.6000294141009241
    std: 1.2479086069335252
    variance: 1.5572758912587714
    skewness: 2.2482029135016237
    kurtosis: 4.203443736437421

ColumnProfile:
    column_name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 189483.84
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.6031872860427718
           5%: 0.6004281325140269
          25%: 0.9560158807692188
          50%: 1.6030120298422719
          75%: 2.9795388390241033
          95%: 10.744221979772197
          99%: 18.966798694369153
        99.9%: 26.945745278430945

    mean: 2.9104151370926328
    std: 51.737225439231814
    variance: 2676.7404961498955
    skewness: 3643.259803848533
    kurtosis: 13342962.294174151

ColumnProfile:
    column_name: pickup_region
    type: FieldType.INTEGER

    min: 1.0
    max: 265.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 261


    Quantiles (est.):
         0.1%: 4.005439636148056
           1%: 68.01770822670106
           5%: 67.99995346185622
          25%: 115.41258666490909
          50%: 161.89152163909037
          75%: 233.04748135781858
          95%: 260.40383307953846
          99%: 263.99999337232475
        99.9%: 264.01652980857403

    mean: 163.3487164037903
    std: 66.54774763111003
    variance: 4428.60271477391
    skewness: -0.2701736244422988
    kurtosis: -0.8958292531286971

ColumnProfile:
    column_name: dropoff_region
    type: FieldType.INTEGER

    min: 1.0
    max: 265.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 262


    Quantiles (est.):
         0.1%: 1.1359274626855167
           1%: 51.39954007105725
           5%: 50.17351568990854
          25%: 110.19043429232673
          50%: 161.9712194103414
          75%: 233.58391743212252
          95%: 260.7285908776791
          99%: 264.0
        99.9%: 264.9999050839458

    mean: 161.6377818118957
    std: 70.380136195183
    variance: 4953.363570852507
    skewness: -0.32610349279585155
    kurtosis: -0.9492722426400788

ColumnProfile:
    column_name: payment_type
    type: FieldType.INTEGER

    min: 1.0
    max: 4.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 4


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 2.0
          95%: 2.0
          99%: 2.0
        99.9%: 3.8483494596384715

    mean: 1.3117349580359579
    std: 0.4835361156401599
    variance: 0.2338071751283741
    skewness: 1.1427914242552277
    kurtosis: 0.5047112174507209

ColumnProfile:
    column_name: fare_amount
    type: FieldType.DECIMAL

    min: -463.0
    max: 234631.88
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.8254689055584856
           1%: 4.999986829879662
           5%: 4.9999666897617585
          25%: 6.499994398065573
          50%: 9.112612292926599
          75%: 14.301440062207934
          95%: 36.07798834749887
          99%: 52.01465563206787
        99.9%: 93.23996670719305

    mean: 12.811404288955648
    std: 84.79970334365854
    variance: 7190.989687172493
    skewness: 2543.7899746511666
    kurtosis: 6640367.391019721

Oops! We've forgotten to specify the types of our columns. Doing so is important to improve our model's accuracy. Rather than doing it manually, we can let our data preparation tool infer what the column types are, then apply those changes if they look accurate:

In [12]:
type_infer = dflow_sampled.builders.set_column_types()
type_infer.learn()
type_infer

Column types conversion candidates:
'pickup_month': [FieldType.INTEGER],
'pickup_weekday': [FieldType.STRING],
'pickup_year': [FieldType.INTEGER],
'pickup_hour': [FieldType.INTEGER],
'passenger_count': [FieldType.INTEGER],
'dropoff_region': [FieldType.INTEGER],
'fare_amount': [FieldType.DECIMAL],
'pickup_monthday': [FieldType.INTEGER],
'pickup_second': [FieldType.INTEGER],
'pickup_region': [FieldType.INTEGER],
'vendor': [FieldType.INTEGER],
'pickup_minute': [FieldType.INTEGER],
'distance': [FieldType.DECIMAL],
'payment_type': [FieldType.INTEGER]

This looks right, so now we'll add it to our definition to persist the changes:

In [13]:
dflow_sampled = type_infer.to_dataflow()
dflow_sampled.get_profile()

ColumnProfile:
    column_name: vendor
    type: FieldType.INTEGER

    min: 1.0
    max: 4.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 3


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 2.0
          75%: 2.0
          95%: 2.0
          99%: 2.0
        99.9%: 2.0

    mean: 1.5664075244325775
    std: 0.4958128232213052
    variance: 0.24583035567068126
    skewness: -0.263075540497143
    kurtosis: -1.9069577030484934

ColumnProfile:
    column_name: pickup_year
    type: FieldType.INTEGER

    min: 2001.0
    max: 2084.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 12


    Quantiles (est.):
         0.1%: 2018.0
           1%: 2018.0
           5%: 2018.0
          25%: 2018.0
          50%: 2018.0
          75%: 2018.0
          95%: 2018.0
          99%: 2018.0
        99.9%: 2018.0

    mean: 2017.9999175277844
    std: 0.04428075286225875
    variance: 0.0019607850740484367
    skewness: 637.5762821380305
    kurtosis: 1129831.0757632074

ColumnProfile:
    column_name: pickup_month
    type: FieldType.INTEGER

    min: 1.0
    max: 12.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 12


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 2.0
          50%: 3.7996136132227014
          75%: 5.0
          95%: 6.0
          99%: 6.0
        99.9%: 6.0

    mean: 3.5163504502485994
    std: 1.6889230819711996
    variance: 2.852461176815095
    skewness: -0.02231323007666511
    kurtosis: -1.2311206716730598

ColumnProfile:
    column_name: pickup_monthday
    type: FieldType.INTEGER

    min: 1.0
    max: 31.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 31


    Quantiles (est.):
         0.1%: 1.0
           1%: 3.4191398409686697
           5%: 3.0140856326546914
          25%: 8.0
          50%: 15.15454946450136
          75%: 23.0
          95%: 29.0
          99%: 31.0
        99.9%: 31.0

    mean: 15.553860845492984
    std: 8.681339166837777
    variance: 75.36564972967163
    skewness: 0.025280447246868464
    kurtosis: -1.165333887504679

ColumnProfile:
    column_name: pickup_weekday
    type: FieldType.STRING

    min: Friday
    max: Wednesday
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 7


ColumnProfile:
    column_name: pickup_hour
    type: FieldType.INTEGER

    min: 0.0
    max: 23.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 24


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.771679139818738
           5%: 5.252640206064869
          25%: 9.203559624716698
          50%: 14.130465945205874
          75%: 19.0
          95%: 22.0
          99%: 23.0
        99.9%: 23.0

    mean: 13.790100278647795
    std: 6.119978596685214
    variance: 37.45413802388512
    skewness: -0.4671028116210545
    kurtosis: -0.5854667319048454

ColumnProfile:
    column_name: pickup_minute
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.561914036575268
           5%: 5.054390444059451
          25%: 14.523538526188501
          50%: 29.681722311899115
          75%: 44.80870924478124
          95%: 56.45724303753355
          99%: 59.0
        99.9%: 59.0

    mean: 29.586274279890407
    std: 17.336828075590542
    variance: 300.56560772258445
    skewness: -0.009373580896528181
    kurtosis: -1.2088959848948715

ColumnProfile:
    column_name: pickup_second
    type: FieldType.INTEGER

    min: 0.0
    max: 59.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 60


    Quantiles (est.):
         0.1%: 0.0
           1%: 5.5176864494808315
           5%: 5.021694214876032
          25%: 14.57266781711645
          50%: 29.565264630481717
          75%: 44.52018718385032
          95%: 56.534121963776855
          99%: 59.0
        99.9%: 59.0

    mean: 29.50238431473418
    std: 17.31387580111178
    variance: 299.77029525632406
    skewness: 0.00020861009520931978
    kurtosis: -1.200296978633076

ColumnProfile:
    column_name: passenger_count
    type: FieldType.INTEGER

    min: 0.0
    max: 9.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 10


    Quantiles (est.):
         0.1%: 0.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 2.0
          95%: 5.0
          99%: 6.0
        99.9%: 6.0

    mean: 1.6000294141009241
    std: 1.2479086069335252
    variance: 1.5572758912587714
    skewness: 2.2482029135016237
    kurtosis: 4.203443736437421

ColumnProfile:
    column_name: distance
    type: FieldType.DECIMAL

    min: 0.0
    max: 189483.84
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.0
           1%: 0.6031872860427718
           5%: 0.6004281325140269
          25%: 0.9560158807692188
          50%: 1.6030120298422719
          75%: 2.9795388390241033
          95%: 10.744221979772197
          99%: 18.966798694369153
        99.9%: 26.945745278430945

    mean: 2.9104151370926328
    std: 51.737225439231814
    variance: 2676.7404961498955
    skewness: 3643.259803848533
    kurtosis: 13342962.294174151

ColumnProfile:
    column_name: pickup_region
    type: FieldType.INTEGER

    min: 1.0
    max: 265.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 261


    Quantiles (est.):
         0.1%: 4.005439636148056
           1%: 68.01770822670106
           5%: 67.99995346185622
          25%: 115.41258666490909
          50%: 161.89152163909037
          75%: 233.04748135781858
          95%: 260.40383307953846
          99%: 263.99999337232475
        99.9%: 264.01652980857403

    mean: 163.3487164037903
    std: 66.54774763111003
    variance: 4428.60271477391
    skewness: -0.2701736244422988
    kurtosis: -0.8958292531286971

ColumnProfile:
    column_name: dropoff_region
    type: FieldType.INTEGER

    min: 1.0
    max: 265.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 262


    Quantiles (est.):
         0.1%: 1.1359274626855167
           1%: 51.39954007105725
           5%: 50.17351568990854
          25%: 110.19043429232673
          50%: 161.9712194103414
          75%: 233.58391743212252
          95%: 260.7285908776791
          99%: 264.0
        99.9%: 264.9999050839458

    mean: 161.6377818118957
    std: 70.380136195183
    variance: 4953.363570852507
    skewness: -0.32610349279585155
    kurtosis: -0.9492722426400788

ColumnProfile:
    column_name: payment_type
    type: FieldType.INTEGER

    min: 1.0
    max: 4.0
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values: 4


    Quantiles (est.):
         0.1%: 1.0
           1%: 1.0
           5%: 1.0
          25%: 1.0
          50%: 1.0
          75%: 2.0
          95%: 2.0
          99%: 2.0
        99.9%: 3.8483494596384715

    mean: 1.3117349580359579
    std: 0.4835361156401599
    variance: 0.2338071751283741
    skewness: 1.1427914242552277
    kurtosis: 0.5047112174507209

ColumnProfile:
    column_name: fare_amount
    type: FieldType.DECIMAL

    min: -463.0
    max: 234631.88
    count: 13483329.0
    missing_count: 0.0
    not_missing_count: 13483329.0
    percent_missing: 0.0
    error_count: 0.0
    empty_count: 0.0
    unique_values:


    Quantiles (est.):
         0.1%: 0.8254689055584856
           1%: 4.999986829879662
           5%: 4.9999666897617585
          25%: 6.499994398065573
          50%: 9.112612292926599
          75%: 14.301440062207934
          95%: 36.07798834749887
          99%: 52.01465563206787
        99.9%: 93.23996670719305

    mean: 12.811404288955648
    std: 84.79970334365854
    variance: 7190.989687172493
    skewness: 2543.7899746511666
    kurtosis: 6640367.391019721

Though Datasets comes with a highly scalable data preparation capability, you can also use languages and packages that you already know and love. Every Dataset can be converted to a pandas or Spark dataframe, but you can also run your custom Python code on Datasets. Here, we might want to leverage some numpy methods, and we can easily add these scripts to our transformations:

In [14]:
dflow_sampled = (dflow_sampled
    .new_script_column(
        new_column_name='pickup_x',
        insert_after='cost',
        script="""
def newvalue(row):
    return np.cos(row['pickup_lat']) * np.cos(row['pickup_lng'])
        """
    )
    .new_script_column(
        new_column_name='pickup_y',
        insert_after='pickup_x',
        script="""
def newvalue(row):
    return np.cos(row['pickup_lat']) * np.sin(row['pickup_lng'])
        """
    )
    .new_script_column(
        new_column_name='pickup_z',
        insert_after='pickup_y',
        script="""
def newvalue(row):
    return np.sin(row['pickup_lat'])
        """
    )
    .new_script_column(
        new_column_name='dropoff_x',
        insert_after='pickup_z',
        script="""
def newvalue(row):
    return np.cos(row['dropoff_lat']) * np.cos(row['dropoff_lng'])
        """
    )
    .new_script_column(
        new_column_name='dropoff_y',
        insert_after='dropoff_x',
        script="""
def newvalue(row):
    return np.cos(row['dropoff_lat']) * np.sin(row['dropoff_lng'])
        """
    )
    .new_script_column(
        new_column_name='dropoff_z',
        insert_after='dropoff_y',
        script="""
def newvalue(row):
    return np.sin(row['dropoff_lng'])
        """
    )
    .drop_columns(columns=[
        'pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng'
    ])
)

Because we convert easily between pandas dataframes, you can use your favorite data visualization libraries to inspect your data as you wrangle your data:

In [15]:
%matplotlib inline
import matplotlib.pyplot as plt

df_sampled = dflow_sampled.to_pandas_dataframe()
plt.hist(df_sampled['distance'])
plt.show()

KeyboardInterrupt:

Let's look again at our Dataset's summary statistics to verify whether we're ready to train our model:

In [ ]:
dflow_sampled.get_profile()

By peeking at the profile, we notice that we should run two final filters to eliminate incorrectly captured data points: records should never exist where `cost` and `distance` values are 0. Let's apply our filters so we can improve our machine learning model's accuracy:

In [ ]:
dflow_sampled = (dflow_sampled
    .filter(dprep.col("distance") > 0)
    .filter(dprep.col("fare_amount") > 0))

Now that we've wrangled our data into an ML-ready format, we can persist these changes by updating our Dataset's definition and verify its correctness with our profile again:

In [ ]:
df_sampled_cleaned = dflow_sampled.to_pandas_dataframe()
dataset_sampled_cleaned = Dataset.from_pandas_dataframe(df_sampled_cleaned)

We haven't yet registered our Dataset to our Azure ML workspace. Registering the Dataset allows it to be persisted and used by any experiments and users in the workspace, making it convenient for hand-offs. We'll now register our Dataset with a few descriptive details:

In [ ]:
dataset_sampled_cleaned = dataset_sampled_cleaned.register(
    workspace=ws,
    name='nyc_taxi_sampled_cleaned',
    description='Sampled NYC yellow taxicab data during 2018.',
    tags={'year':'2018', 'status':'cleaned'},
    exist_ok=True,
    update_if_exist=True
)

### Apply changes to full data

Now that we've figured out exactly how we need to prepare our data, we can generate our data preparation script by simply coalescing the transformations above into a function. We'll apply this on our full Dataset so we can use it for ML. (Though we wrote our preparation script with our Data Prep SDK, you can use whatever script using whichever library you want here.)

In [ ]:
# Data preparation script
def prepare_dataframe(df):

    dflow = dprep.read_pandas_dataframe(df, temp_folder='temp-full')

    all_columns = dprep.ColumnSelector(term=".*", use_regex=True)
    drop_if_all_null = [all_columns, dprep.ColumnRelationship(dprep.ColumnRelationship.ALL)]
    useful_columns = [
        "fare_amount", "distance", "pickup_region", "dropoff_region",
        "passenger_count", "pickup_datetime", "vendor", "payment_type"
    ]

    dflow = (dflow
    # Block 1
        .replace_na(columns=all_columns)
        .drop_nulls(*drop_if_all_null)
        .rename_columns(column_pairs={
            "VendorID": "vendor",
            "tpep_pickup_datetime": "pickup_datetime",
            "trip_distance": "distance",
            "PULocationID": "pickup_region",
            "DOLocationID": "dropoff_region"
        })
        .keep_columns(columns=useful_columns))
    # Block 2
        .split_column_by_example(
            source_column="pickup_datetime",
            example=("2009-01-04 02:52:00", ["2009-01-04", "02:52:00"])
        )
        .rename_columns(column_pairs={
            "pickup_datetime_1": "pickup_date",
            "pickup_datetime_2": "pickup_time"
        })
    # Block 3
        .derive_column_by_example(
            source_columns="pickup_date",
            new_column_name="pickup_weekday",
            example_data=[("2009-01-04", "Sunday"), ("2013-08-22", "Thursday")]
        )
        .split_column_by_example(
            source_column="pickup_date",
            example=("2009-01-04", ["2009", "01", "04"])
        )
        .split_column_by_example(
            source_column="pickup_time",
            example=("02:52:58", ["02", "52", "58"])
        )
        .drop_columns(columns=[
            "pickup_datetime", "pickup_date", "pickup_time"
        ])
        .rename_columns(column_pairs={
            "pickup_date_1": "pickup_year",
            "pickup_date_2": "pickup_month",
            "pickup_date_3": "pickup_monthday",
            "pickup_time_1": "pickup_hour",
            "pickup_time_2": "pickup_minute",
            "pickup_time_3": "pickup_second"
        }))

    # Block 4
    type_infer = dflow.builders.set_column_types()
    type_infer.learn()

    dflow = type_infer.to_dataflow()

    dflow = (dflow
    # Block 5
        .new_script_column(
            new_column_name='pickup_x',
            insert_after='cost',
            script="""
    def newvalue(row):
        return np.cos(row['pickup_lat']) * np.cos(row['pickup_lng'])
            """
        )
        .new_script_column(
            new_column_name='pickup_y',
            insert_after='pickup_x',
            script="""
    def newvalue(row):
        return np.cos(row['pickup_lat']) * np.sin(row['pickup_lng'])
            """
        )
        .new_script_column(
            new_column_name='pickup_z',
            insert_after='pickup_y',
            script="""
    def newvalue(row):
        return np.sin(row['pickup_lat'])
            """
        )
        .new_script_column(
            new_column_name='dropoff_x',
            insert_after='pickup_z',
            script="""
    def newvalue(row):
        return np.cos(row['dropoff_lat']) * np.cos(row['dropoff_lng'])
            """
        )
        .new_script_column(
            new_column_name='dropoff_y',
            insert_after='dropoff_x',
            script="""
    def newvalue(row):
        return np.cos(row['dropoff_lat']) * np.sin(row['dropoff_lng'])
            """
        )
        .new_script_column(
            new_column_name='dropoff_z',
            insert_after='dropoff_y',
            script="""
    def newvalue(row):
        return np.sin(row['dropoff_lng'])
            """
        )
        .drop_columns(columns=[
            'pickup_lat', 'pickup_lng', 'dropoff_lat', 'dropoff_lng'
        ])
    # Block 6
        .filter(dprep.col("distance") > 0)
        .filter(dprep.col("fare_amount") > 0))

    return dflow.to_pandas_dataframe()

Like before, we'll convert our Dataset into a pandas dataframe so we can transform it. We'll apply our preparation script to it:

In [ ]:
df = dataset.to_pandas_dataframe()
df_cleaned = prepare_dataframe(df)

We'll save this dataframe back as a Dataset so we can store and share it within our Azure ML workspace. This makes it easy for any collaborator with access to my workspace to use the same artifact consistently:

In [ ]:
dataset_cleaned = Dataset.from_pandas_dataframe(df_cleaned)
dataset_cleaned = dataset_cleaned.register(
    workspace=ws,
    name='nyc_taxi_cleaned',
    description='NYC yellow taxicab data during 2018.',
    tags={'year':'2018', 'status':'cleaned'},
    exist_ok=True,
    update_if_exist=True
)

Now that our Dataset is wrangled and registered, we can use this Dataset to build our ML model. Continue to [Part 2: Build and Train Models](2_build-models.ipynb).